@{
    ViewBag.Title = "Thêm Nhân Viên";
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            @using (Html.BeginForm("CreateUser", "Employees", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <header class="panel-heading mypanel">
                    Thêm Nhân Viên
                </header>
                <div class="panel-body">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <strong>Lỗi!</strong> Có lỗi xảy ra khi bạn nhập thông tin.
                        </div>
                    }
                    <div class="col-md-6">
                        <div class="form-group m-bot15 clearfix ">
                            <label class="control-label col-md-4 ">UserName</label>
                            <div class="col-md-8 ">
                                <input class="form-control myctr form" data-val="true" data-val-required="Tên Nhân Viên Không Được Trống." name="UserName" type="text" autocomplete="off">
                                <span class="field-validation-valid text-danger" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group m-bot15 clearfix">
                            <label class="control-label col-md-4 ">Tên Đầy Đủ</label>
                            <div class="col-md-8 ">
                                <input class="form-control myctr form" data-val="true" data-val-required="Tên Đầy Đủ Không Được Trống." name="FullName" type="text" autocomplete="off">
                                <span class="field-validation-valid text-danger" data-valmsg-for="FullName" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group m-bot15 clearfix ">
                            <label class="control-label  col-md-4 ">Email</label>
                            <div class="col-md-8 ">
                                <input type="email" class="form-control myctr form" name="Email" data-parsley-trigger="change" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group m-bot15 clearfix ">
                            <label class="control-label col-md-4 ">Phone</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control myctr form" name="PhoneNumber">
                            </div>
                        </div>
                        <div class="form-group m-bot15 clearfix">
                            <label class="control-label col-md-4 ">Địa Chỉ</label>
                            <div class="col-md-8">
                                <textarea class="form-control form myctr" rows="2" id="comment" name="Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group m-bot15 clearfix ">
                            <label class="control-label col-md-4 ">Phòng</label>
                            <div class="col-md-8">
                                <select class="input-large form-control myctr form-control" name="Department" id="Department">
                                    <option value="0" selected> Chọn  phòng </option>
                                    @if (ViewData["Department"] != null)
                                    {
                                        @foreach (var item in ViewData["Department"] as IList<ProjectDkc>)
                                        {
                                            <option value="@item.Id"> @item.ProjectName </option>
                                        }
                                    }
                                    else
                                    {
                                        <option disabled>No departments available</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-bot15 clearfix ">
                            <label class="control-label col-md-4 ">Vị Trí</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control myctr form" name="Position">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="button" class="btn btn-danger">@Html.ActionLink("Hủy", "UserManagement", "Employees")</button>
                    <button type="submit" class="btn btn-primary"> Lưu </button>
                </div>
            }
        </section>
    </div>
</div>
<script>
    $('.CreateUser').addClass('active');
    $('.Tool').addClass('active');
</script>
