@model Libs.Models.ProjectDkc
@{
    ViewBag.Title = "Trả thiết bị về kho ";
}
<section class="panel">
    <header class="panel-heading m-bot15" style="padding-bottom:20px">
        <a class="edit panel-default" style="margin-right:10px" href="@Url.Action("EditDepartment", "Department", new { id = Model.Id })">
            <span class="icon-border">
                <i class="icon-arrow-left"> </i>
            </span>
        </a>
        <h4 style="display:inline"> Trả thiết bị về kho (Phòng @Model.ProjectName) </h4>
        <button type="button" class="btn btn-success btn-large tcssLeft" href="javascript:void(0)" onclick="StartScaner()">Bắt đầu quét</button>
    </header>
    <!--Tabale Device of Project-->
    <div class="col-md-3 m-bot15">
        <input class="form-control input-sm myctr" size="100" name="DeviceBarcode" id="DeviceBarcode" onchange="ClickScanner()" autocomplete="off">
    </div>
    <div class="col-md-9 ">
        @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("ReturnDeviceProjectAll")))
        {*@
        <button class="btn  btn-primary tcssLeft" type="button" href="javascript:void(0)" onclick="ReturnDeviceInProjectAll()">Trả thiết bị  <i class="icon-share-alt"></i></button>
        @*}*@
    </div>
    <section class="panel-body">
        <div class="tcssMarT m-bot15">
            <div class="adv-table">
                <table class="display panel-body  table-bordered table-striped" id="exampleMT">
                    <thead>
                        <tr>
                            <th style="width:3% ;text-align:center"><input id="checkAll" type="checkbox" name="check" checked /></th>
                            <th>Mã thiết bị </th>
                            <th>Tên thiết bị </th>
                            <th>Loại thiết bị</th>
                            <th>Cấu hình</th>
                            <th style="width:5%;text-align:center">Bỏ</th>
                        </tr>
                    </thead>
                    <tbody id="tabledvdiv"></tbody>
                </table>
                <input type="hidden" id="hiddenIddv" name="hiddenIddv" />
                <input type="hidden" id="hiddenIdpr" name="hiddenIdpr" value="@Model.Id" />
                <input type="hidden" id="hiddenId" />
            </div>
        </div>
    </section>
    <div class="col-md-12 form-group ">
        <div class="FontHeader">
            @*@if (Session["AuthenticationFeature"] != null && (Session["AuthenticationFeature"] as List<SystemFeature>).Any(k => k.ControllerName.Equals("Project") && k.ActionName.Equals("ReturnDeviceProjectAll")))
            {*@
            <button class="btn btn-primary btn-large" type="button" href="javascript:void(0)" onclick="ReturnDeviceInProjectAll()">Trả thiết bị  <i class="icon-share-alt"></i></button>
            @*}*@
            <a class="btn btn-white" href="@Url.Action("Department","Department",new {id = Model.Id })">Hủy</a>
        </div>
    </div>
    <partial name="ReturnDeviceInDepartmentAllPartial" />
</section>
<!--The end table-->
<script>
    $(document).ready(function () {
    });
    var ClickScanner = function () {
        var DeviceCode = $('#DeviceBarcode').val()
        var pjId = $("#hiddenIdpr").val()
        var Code = DeviceCode.trim()
        $("#exampleMT .DeviceId").each(function () {
            var a = $(this).html();
            if (a.trim() == Code) {
                Code = 1;
            }
        });
        if (Code == 1) { alert('Thiết Bị Đã Được Quét!'); $('#DeviceBarcode').val('') }
        else
            $.ajax({
                url: '/Department/GetReturnDeviceInDepartmentMachine',
                data: {
                    dvc: Code,
                    pjId: pjId
                },
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    var data = response.model;
                    var check = response.Result
                    if (data != null) {
                        {
                            $('#exampleMT tbody').append("<tr class=" + 'gradeA' + " id=" + 'row_' + data.Id + "><td><input type = " + 'checkbox' + " class=" + 'check' + " name =" + 'check' + " value=" + data.Id + " checked></td><td  class=" + 'DeviceId' + ">" + data.DeviceCode + "</td><td>" + data.DeviceName + "</td><td>" + data.TypeName + "</td><td>" + data.Configuration + "</td><td  class=" + 'center' + "><a onclick=" + 'ConfirmDelete(' + data.Id + ')' + "  href=" + 'javascript:void(0)' + "> <i class=" + 'icon-remove' + "></i> </a></td></tr>");
                            $('#DeviceBarcode').val('');
                            $('#DeviceBarcode').focus();
                        }
                    }
                    else if (check == 1) {
                        alert("Thiết bị không có trong phòng ");
                        $('#DeviceBarcode').val('');
                        $('#DeviceBarcode').focus();
                    }
                    else if (check == 2) {
                        alert("Thiết bị là thiết bị con nằm trong thiết bị cha ");
                        $('#DeviceBarcode').val('');
                        $('#DeviceBarcode').focus();
                    }
                },
            });
    }
    var StartScaner = function () {
        $('#DeviceBarcode').focus();
        $('#DeviceBarcode').val('')
    }
    var ConfirmDelete = function (Id) {
        $("#hiddenId").val(Id);
        var prId = $("#hiddenId").val();
        $("#row_" + prId).remove();
    }
</script>
