<!--Popup ReturnAll-->
<div id="myModalReturnAll" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>
            <div class="modal-body clearfix">
                <!--Containt-->
                <div class="col-md-12 m-bot15">
                    Bạn muốn trả  tất cả thiết bị đã chọn về kho
                </div>
                <div class="col-md-3">
                    <label>Chú thích</label>
                </div>
                <div class="col-md-9">
                    <textarea class="cke_editable form-control form myctr" rows="3" id="Notes1" name="Notes1"> </textarea>
                </div>
                <!--The end Containt-->
            </div>
            <div class="modal-footer col-md-12">
                <div class="col-md-5  left">
                </div>
                <div class="col-md-7">
                    <button type="button" class="btn btn-primary" id="ReturnDeviceInProjectAll1">Đồng ý <i class="icon-arrow-down"></i></button>
                    <button type="button" class="btn btn-white" data-dismiss="modal"> Hủy <i class="icon-remove"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--The end popup-->
<!--Return All-->
<script>
    var ReturnDeviceInProjectAll = function () {
        var chkArray = [];
        //$(".check:checked").each(function () {
        //    chkArray.push($(this).val());
        //});
        var table = $('#exampleMT').dataTable()
        table.$('input[type="checkbox"]').each(function () {
            if (this.checked) {
                chkArray.push($(this).val());
            }
        });
        if (chkArray.length > 0) {
            $("#hiddenIddv").val(chkArray);
            $("#myModalReturnAll").modal('show');
            $('#ReturnDeviceInProjectAll1').click(function () {
                var pjId = $("#hiddenIdpr").val();
                var dvId = $("#hiddenIddv").val();
                var notes = $("#Notes1").val();
                console.log(dvId);
                $.ajax({
                    type: "POST",
                    url: "/Department/ReturnDeviceDepartmentAll",
                    data: {
                        Id: dvId,
                        PJ: pjId,
                        notes: notes
                    },
                    success: function (result) {
                        if (result) {
                            $("#myModalReturnAll").modal("hide");
                            location.reload();
                        } else {
                            $("#myModalReturnAll").modal("hide");
                            alert("Trả thiết bị lỗi. Danh sách chứa thiết bị con nằm trong thiết bị khác");
                        }
                    }
                })
            })
        }
    }
</script>